* {
    margin: 0;
    padding:8px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }

  span,p,strong{
    padding: 0;
  }
  strong{
    margin: 0 8px;
  }

  body {
    background: rgb(185, 246, 247);
    background: linear-gradient(128deg, rgba(185, 246, 247, 1) 0%, rgba(255, 252, 0, 0.16290266106442575) 100%);
    height:100vh;
    text-align: center;
    overflow-y: hidden;
  }

  h1 {
    font-size: 5.5rem;
    color: white;
    text-shadow: 2px 2px #039b8c;
    text-align: center;
    position: relative;
  }

  h1::after {
    content: 'º';
    font-size: 2rem;
    position: absolute;
    top: 15p;
  }

  p {
    text-align: center;
  }

  .d-flex {
    display: flex;
    justify-content: center;
  }

  .space-around {
    justify-content: space-around;
  }

  #city {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.63) !important;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 4px 16px;
    border-radius: 50px;
    margin: 0 auto;
    display: table;
  }