:root {
  --background-text: rgb(0 0 0 / 10%);
}

* {
  margin: 0;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
}

span, p, strong {
  padding: 0;
}

strong {
  margin: 0 8px;
}

body {
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
  max-width: 900px;
  margin: 0 auto;
  color: aliceblue;
  padding: 0;
}

html{
  padding: 8px;
}

h1 {
  font-size: 5.5rem;
  color: white;
  /* text-shadow: 2px 2px #979797; */
  text-align: center;
  position: relative;
  font-weight: 400;
}

h1::after {
  content: 'º';
  font-size: 2rem;
  position: absolute;
  top: 15px;
}

p {
  text-align: center;
  /* text-shadow: 1px 1px 1px #505050 */
}

i {
  font-size: 2rem;
  color: #fff;
}

.sunrise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0;
}

.sunrise div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  background-color: var(--background-text);
  border-radius: 50px;
}

.sunrise i {
  font-size: 14px;
  color: yellow;
  padding: 0;
  margin-right: 4px;
}

.bg-neutral {
  background-color: rebeccapurple;
}

.bg-day {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
}

.bg-night {
  background-color: #2267da;
  background-image: linear-gradient(180deg, #2267da 0%, #ff9be4 100%);
  background-image: url('../img/nightjpg.jpg');
}

.bg-scattered-rains {
  background-color: #414141;
  background-image: linear-gradient(180deg, #c8d6ec 0%, #414141 100%);
}


.d-flex {
  display: flex;
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.card {
  background-color: var(--background-text);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 4px;
  padding: 8px;
  width: 80px;
}

.text-light {
  color: #fff;
}

.wi-night-clear, .wi-day-sunny {
  color: yellow;
}

#city {
  text-align: center;
  padding: 4px 16px;
  border-radius: 50px;
  margin: 0 auto;
  display: table;
  color: #fff;
  font-size: 12px;
}

.week {
  display: flex;
  overflow-x: auto;
  padding: 8px 0;
  margin-top: 34px;
  background-color: var(--background-text);
  border-radius: 4px;
  position: relative;
}

.week p {
  margin-bottom: 8px;
}

@media only screen and (min-width: 1000px) {
  body {
    max-width: 900px;
  }

  .week {
    justify-content: center;
  }
}